main {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
}
.botao {
    padding: 16px 32px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    color:var(--color-branco);
    background-color: var(--color-cinza-claro);
}


.topo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 66px;
    background-color: var(--color-azul-claro);
    font-size: 2rem;
    font-family: var(--font-bold);
    
}

.topo__marca {
    font-family: var(--font-bold);
    color: var(--color-preto)
}

.topo__titulo {
    color: var(--color-azul-escuro);
    padding-left: 8px;
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 104px;
    font-size: 1rem;
    background-color: var(--color-azul-claro);
    height: 144px;

}

.footer {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 104px;
    font-size: 1rem;
    background-color: var(--color-azul-claro);
    height: 144px;
    font-family: var(--font-regular);
    line-height: 24px;

}

.footer__icones {
    font-size: 1.25rem;
}

.card {
    background-color: #ffff;
    width: 352px;
    gap: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 124px 24px;
    box-shadow: 0px 8px 32px 0px;
    border-radius: 30px;
}

.card__descricao {
    text-align: center;
}

.card__img {
    width: 60%;
    min-width: 160px;

}

.card__botao-adicionar {
    color: var(--color-azul-escuro);
    font-size: 2rem;
    cursor: pointer;

}

.card__preco {

    font-size: 1.5rem;
    font-family: var(--font-light);
}

.card__titulo {
    font-size: 2rem;
    font-family: var(--font-bold);

}

.card__descricao {
    text-align: center;
    font-size: 1rem;
    font-family: var(--font-regular);
    line-height: 24px;

}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600;
    border-radius: 35px;
    box-shadow: 0px 8px 32px 0px;
    padding: 64px;
    gap: 64px;
}
.modal__img{
    width: 200px;
}
.modal__titulo{
    font-size: 2rem;
    font-family: var(--font-bold);

}

.modal__descricao {
   line-height: 24px;
}

.modal__texto {
    font-size: 1rem;
    font-family: var(--font-regular);
}
.modal__tamanho-area{
    width: fit-content;
    border-radius: 16px;
    background-color: var(--color-cinza-claro);
    overflow: hidden;
}
.modal__tamanho-area button{
    padding: 16px 8px;
}
.modal__preco-area{
    display: flex;
    align-items: center;
    gap: 32px;
}
.modal__controle-unidade{
    border-radius: 16px;
    background-color: var(--color-cinza-claro);
    font-size: 1.25rem;
    overflow: hidden;
}
.modal__controle-unidade button{
    padding: 16px 20px;
}
.modal__controle-unidade button:hover{
    background-color: var(--color-cinza-escuro);
}
.modal__valor{
    font-size: 1.5rem;
}
   
.modal__tamanho-area button:hover {
    background-color: var(--color-azul-escuro);

}

.botao--verde{
    background-color: var(--color-sucesso);
}

.botao--vermelho{
    background-color: var(--color-danger);
}
.botao--vermelho button:hover{
    background-color: var(--color-danger-hover);
}
.botao--verde button:hover{
    background-color: var(--color-sucesso-hover);
}



.carrinho {
    background-color: var(--color-azul-claro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 504px;
    border-radius: 35px;
    padding: 10px;
    gap: 10px;  
    align-items: center;
}
.topo__carrinho{
    font-family: var(--font-bold);
    font-size: 2rem;
}

.item{
    display: flex;
    align-items: center;
    gap: 16px;
    padding-bottom: 16px;
}



   .carrinho__titulo{
       font-family: var(--font-regular);
       font-size: 1,5rem;
   }
   .carrinho__preco-pizza{
    font-family: var(--font-regular);
    font-size: 1,5rem;
   }
   

.card__img-carrinho{
    width: 20%;
    padding: 30px;
}

.carrinho__img {
    width: 80px;
}

.carrinho__compra {
    color: var(--color-azul-escuro);
    font-family: var(--font-bold);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 504px;
     gap: 10px;
 
}

.carrinho__botao-finalizar
{
    display: flex;
    gap: 16px;
}
.carrinho__controle-unidade{
    border-radius: 16px;
    background-color: var(--color-cinza-claro);
    font-size: 1.25rem;
    overflow: hidden;
    
}
.carrinho__controle-unidade button{
    padding: 16px 20px;
}
.carrinho__controle-unidade button:hover{
    background-color: var(--color-cinza-escuro); }